/* Something */
section {
  min-height: 100dvh;
  min-height: 100vh /*fallback*/;
}

section:not(:first-of-type) {
  padding: 5.2rem 0;
}

#hero {
  padding: 0 0 8rem 0;
}

#hero p {
  max-width: 44rem;
}

.hero-img-sm,
.hero-img-lg {
  width: 100%;
  width: calc(100% + 3.2rem); /* 2.4rem padding on both sides */
  margin-left: -1.6rem;
  margin-right: -1.6rem;
  margin-bottom: 2.4rem;
}

.hero-img-sm {
  display: block;
}

.hero-img-lg {
  display: none;
}

/* Media Queries */
@media (min-width: 768px) {
  .hero-img-lg {
    display: block;
  }

  .hero-img-sm {
    display: none;
  }

  .hero-img-sm,
  .hero-img-lg {
    width: 100%;
    width: calc(100% + 14.4rem); /* 2.4rem padding on both sides */
    margin-left: -7.2rem;
    margin-right: -7.2rem;
    margin-bottom: 2.4rem;
  }
}
